/*****分部分代码****/
.main_items{
    padding:20px 20px 25px 20px;
}
/*******我的面板页面*******/
.panel{
    height:771px;
    background-color: #fff;
    padding:0 20px;
}
.panel .panel_head{
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.panel .panel_head li{
    width: 80px;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color:#999;
    text-align: center;
    border-bottom: 2px solid #999;
    cursor: pointer;
    float:left;
    margin-right: 20px;
}
.panel .panel_head li.now,.panel .panel_head li:hover{
    color:#7EBD2C;
    border-bottom: 2px solid #7EBD2C;
}
.panel .panel_content li{
    height:40px;
    line-height: 40px;
    color:#666;
    font-size: 12px;
}
.panel .panel_content  li span{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.panel .panel_1 li b{
    color:#333;
}
.panel .panel_content li input[type=text]{
    width: 200px;
    height:30px;
    border:1px solid #ddd;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}
.panel .panel_content li input[type=submit]{
    width: 90px;
    height:30px;
    background-color: #7EBD2C;
    font-size: 12px;
    color:#fff;
    margin-right: 10px;
    border-radius: 5px;
}
.panel .panel_content li input[type=password]{
    width: 210px;
    height:30px;
    font-size: 12px;
    border:1px solid #ddd;
    padding-left: 10px;
    border-radius: 5px;
}
.panel .panel_content li input[type=submit]:hover{
    background-color: #73AF24;
}
.panel .panel_content li input[type=reset]{
    width: 90px;
    height:30px;
    background-color: #AAAAAA;
    font-size: 12px;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
 .panel .panel_content li input[type=reset]:hover{
    background-color: #A0A0A0;
 }
.panel .panel_content .panel_2 li span{
    width: 60px;
}
.panel>div.rt{
    padding-top: 20px;
}
.panel>div.rt b{
    display: inline-block;
    width: 90px;
    height:30px;
    line-height: 30px;font-size: 12px;
    color:#fff;
    text-align: center;
    border-radius: 5px;
    background-color: #D38800;
    margin-left: 10px;
    cursor: pointer;
}
.panel>div.rt b:hover{
    background-color: #73AF24;
}
.table td{
    color: #999999;
}
.table tbody tr{
    height: 120px;
}
.table tbody tr td:last-child a{
    color: #0c7c7c;
}
/******设置中心-管理员管理、贵宾卡管理页面*******/
.install{
    height:751px;
    background-color: #fff;
    padding:20px 20px 0;
    overflow: hidden;
    position: relative;
}
#btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
.left_page{
    margin-top: 25px;
}
#btn form{
    text-align: right;
    padding-right: 30px;
}
#btn form span{
    color: #666;
}
#btn form span a,
#btn1 form span a{
    color: #666;
}
#btn form span.current,
#btn1 form span.current{
    color: #E57700;
}
#btn form input{
    color: #666;
}
.install .add,.install .del_all{
    display: inline-block;
    width:90px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background-color:#7EBD2C;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.install .add:hover{
    background-color: #73AF24;
}
.install .del_all:hover{
    background-color: #A0A0A0;
}
.install .del_all{
    background-color: #aaa;
    margin-left: 10px;
}
.install .content{
    margin-top: 20px;
    width:100%;
    border:1px solid #DDDDDD;
    border-collapse: collapse;
    text-align: center;
    font-size: 13px;
    max-height: 670px;
}
.install .content td{
    border:1px solid #ddd;
    height:40px;
    color:#000;
    line-height: 20px;
    padding:0 5px;
}
.install .content tbody tr td .icon{
    color: #0E7D7D;
}
.install .content tbody tr td .a_people{
    color: #ff0000;
}
/*.install .content tbody tr td .icon span{*/
    /*color: #0E7D7D;*/
/*}*/
.install .table_box{
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}
.install .table_box>ul{
    padding: 20px 0;
    color: #666;
    font-size: 14px;
}
.install .table_box>ul>li{
    border: 1px solid #dddddd;
    margin: 10px 0;
    padding: 20px 10px;
}
.install .table_box>.people_manager{
    padding:0;
    color: #666;
    font-size: 14px;
    border: 1px solid #dddddd;
    margin-top: 20px;
}
.install .table_box>.people_manager>li{
    margin: 10px 0;
    padding: 20px 10px;
    border: none;
    border-bottom: 1px solid #dddddd;
}
.install .table_box>.people_manager>:last-child{
    border: none;
}

.install .table_box>ul>li>.one_title{
    margin-left: 30px;
}
.install .manager_red{
    color: #ff0000;
}
.install .weight_bold{
    font-weight: bold;
}
.install .content input[type=checkbox]{
    width:14px;
    height:14px;
    vertical-align: sub;
}
.install .content .thead{
    background-color: #eee;
}
.install .content>td{
    color: #999;
}
.install .content .alter{
    color:#FF8A00;
    margin-right: 5px;
}
.install .content .del{
    color:#FF0000;
    cursor: pointer;
}
.install .content .sold{
    color:#0B7C7C;
    cursor: pointer;
}
.install .content td:last-child .del:hover,.install .content td:last-child .alter:hover,.install .content td:last-child .merge:hover{
    text-decoration: underline;
}
.install .content>tbody>tr>td{
    color:#666;
}
.install .content>tbody>tr>td>.color333{
    color: #333;
}
.install .content>tbody>tr>td>span>.color333{
    font-weight: bold;
    color: #333;
}
.install .content>tbody>tr>td .replace{
    color:#666;
}
.install .content>tbody>tr>td .delete{
    color:#666;
}
.install .content td .colorRed{
    font-weight: bold;
    color: #FF0000;
}
.install .content .isIndex{
    color:#999;
}
.install .content .checkIcon{
    display: inline-block;
    width: 18px;
    height:18px;
    background: url("../image/icon.png") no-repeat -118px 2px;
}
.install .content .xIcon{
    display: inline-block;
    width: 18px;
    height:18px;
    background: url("../image/icon.png") no-repeat -142px 1px;
}
.install .content .qxsz,.install .content .cygl,.install .content .lmqx{
    color:#0B7C7C;
    cursor: pointer;
    margin-right: 5px;
}
.change_pages{
    width: 100%;
    text-align: right;
}
.change_pages span{
    margin-left: 20px;
}
/*****消费记录弹窗******/
.alert_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    text-align: center;
}
.alert_box .record{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -300px;
    width: 600px;
    height: 440px;
    background-color: #fff;
    border: 2px solid #0C7C7C;
    position: relative;
    font-size: 12px;
}
.alert_box .record .record_title{
    width: 590px;
    height: 30px;
    line-height: 30px;
    background-color: #0C7C7C;
    color: #fff;
    text-align: left;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
}
.alert_box .record .record_content>p{
    font-size: 12px;
    color: #999;
    text-align: left;
    margin-top: 10px;
}
.alert_box .record .record_content>p>.black_num{
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}
.alert_box .record .record_content>p>.red_num{
    color: #FD0001;
    font-weight: bold;
    margin-right: 10px;
}
.alert_box .record .record_title .close_record{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.alert_box .record .install{
    height: 360px;
    padding-top: 0;
}
.alert_box .record .install{
    height: 360px;
    padding-top: 0;
}
.alert_box .record .left_page{
    margin: 10px 0 0 20px;
    text-align: left;
}
.alert_box .record #btn1{
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: 500px;
}
/*****添加管理员页面******/
.install .add_manager li span{
    display: inline-block;
    width: 60px;
    font-size: 12px;
    color:#666;
    text-align: right;
}
.install .add_manager li{
    padding-bottom: 10px;
    position: relative;
    font-size: 12px;
    color:#666;
}
.install .add_manager li .import{
    width:198px;
    height:28px;
    font-size: 12px;
    color:#333;
    padding-left: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.install .add_manager .lawyerMatchBtn{
    display: inline-block;
    width:60px;
    height:30px;
    line-height: 30px;
    border-radius: 5px;
    font-size: 12px;
    color:#fff;
    text-align: center;
    background-color: #d38800;
    cursor: pointer;
}
.install .add_manager .orderNumBtn{
    display:inline-block;
    width:90px;
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color:#fff;
    text-align: center;
    background-color:#aaa;
    border-radius: 5px;
    cursor: pointer;
}
.install .add_manager .orderNumBtn:hover{
    background-color: #a0a0a0;
}
.install .add_manager li .xiala{
    position: absolute;
    top:12px;
    left:255px;
    border:6px solid #999;
    border-color: #999 transparent transparent transparent;
}
.install .add_manager .jiaoseInput{
    position: absolute;
    width: 210px;
    height:30px;
    left:68px;
    top:0;
    cursor: pointer;
}
.install .add_manager li .jiaose{
    width:204px;
    font-size: 12px;
    color:#333;
    padding: 5px 2px;
    border:1px solid #ddd;
    left:68px;
    top:28px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    display: none;
}
.install .add_manager li .jiaose dd{
    height:30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.install .add_manager li .jiaose dd:hover{
    background-color: #eee;
}
.install .add_manager li .hint{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color:#f00;
    padding-left: 22px;
    left:300px;
    top:0;
    position: absolute;
    display: none;
}
.install .add_manager li .hint b{
    position: absolute;
    height: 25px;
    width: 22px;
    left:0;
    top:0;
    margin-right: 20px;
}
.install .add_manager li .hint .hint_false b{
    background: url("../image/icon.png") no-repeat -45px 3px;
}
.install .add_manager li .hint .hint_ok b{
    background: url("../image/icon.png") no-repeat -67px 4px;
}
.install .add_manager li input[type=submit],.install .add_manager li input[type=reset]{
    width: 90px;
    height:30px;
    font-size: 12px;
    color:#fff;
    text-align: center;
    margin-right: 2px;
    border-radius: 5px;
}
.install .add_manager li input[type=submit]{
    background-color: #7EBD2C;
}
.install .add_manager li input[type=submit]:hover{
    background-color: #73AF24;
}
.install .add_manager li input[type=reset]{
    background-color: #aaa;
}
.install .add_manager li input[type=reset]:hover{
    background-color: #A0A0A0;
}

/*******修改产品、添加产品页面********/
.install.add_product li{
    padding-bottom: 10px;
    position: relative;
    font-size: 12px;
    color:#666;
}
.install.add_product li span{
    display: inline-block;
    width: 60px;
    text-align: right;
}
.install.add_product li .import{
    width:198px;
    height:28px;
    font-size: 12px;
    color:#333;
    padding-left: 10px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.install.add_product li .productAll{
    width: 500px;
    text-align: left;
    margin: 5px 10px;
    display: inline-block;
}
.add_product li input[type=submit],.add_product li input[type=reset]{
     width: 90px;
     height:30px;
     font-size: 12px;
     color:#fff;
     text-align: center;
     margin-right: 2px;
     border-radius: 5px;
 }
.add_product li input[type=submit]{
    background-color: #7EBD2C;
}
.add_product li input[type=reset]{
    background-color: #A0A0A0;
}
/********积分管理下添加产品**********/
.add_product .relatedBtn{
    display: inline-block;
    width:88px;
    height:26px;
    line-height: 26px;
    text-align: center;
    border:1px solid #ddd;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-size: 12px;
    color:#999;
    cursor: pointer;
}
.add_product .upload{
    position: absolute;
    top:45px;
    right:60px;
}
.add_product .upload>div{
    width: 216px;
    height:216px;
    border:2px solid #0C7C7C;
    margin-bottom: 35px;
}
.add_product .upload .upload_head{
    height:35px;
    line-height: 35px;
    padding-left: 10px;
    font-size: 12px;
    color:#fff;
    background-color: #0C7C7C;
}
.add_product .upload .upload_photo{
    width:110px;
    height:110px;
    border:1px solid #ddd;
    margin:15px auto;
    overflow: hidden;
    text-align: center;
}
.add_product .upload .upload_to,.add_product .upload .upload_cancel{
    display: inline-block;
    width: 90px;
    height:25px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color:#fff;
    margin-left: 10px;
}
.add_product .upload .upload_to{
    background-color: #7EBD2C;
}
.add_product .upload .upload_cancel{
    background-color: #aaa;
}
.add_product .upload .upload_to:hover{
    background-color: #73AF24;
}
.add_product .upload .upload_cancel:hover{
    background-color: #a0a0a0;
}

/*******角色页面********/

/*************设置中心完毕**************************/
/************订单管理 页面*****************/
/**订单管理****/
.install .order_search{
    width:864px;
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 20px;
}
.install .order_search ul{
    overflow: hidden;
    padding-bottom: 20px;
}
.install .order_search li{
    float:left;
    font-size: 12px;
    height:28px;
    line-height: 28px;
    position: relative;
}
.install .order_search .time,.install .order_search .input,.install .order_search .select{
    width:150px;
    height:26px;
    font-size: 12px;
    color:#333;
    border:1px solid #ddd;
    padding-left: 8px;
    border-radius: 5px;
    margin-right: 8px;
}
.install .order_search .time{
    cursor: pointer;
}
.install .order_search .input{
    width:98px;
    padding-left: 0;
    text-align: center;
}
.install .order_search .select{
    width:100px;
    height:28px;
}
.install .order_search .time_caculate{
    position: absolute;
    right:17px;
    top:2px;
    width:20px;
    height:24px;
    background: url("../image/icon.png") no-repeat -230px -22px;
}
.install .order_search input[type=submit]{
    width:80px;
    height:28px;
    text-align: center;
    font-size: 12px;
    color:#fff;
    background-color: #D38800;
    border-radius: 5px;
    margin-left: 30px;
}
.install .order_search input[type=submit]:hover{
    background-color: #73AF24;
}
.install .install_head {
    overflow: hidden;
}
.install .install_head>li{
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #666;
}
.install .install_head>li>select,
.install .install_head>li>input{
    border: 1px solid #DCDCDC;
    padding: 3px 0;
    border-radius: 5px;
    color: #666;
}
.install .install_head>li>input{
    width: 100px;
}
.install .install_head>li>.search{
     color: #fff;
     background-color: #D28701;
     display: block;
     width: 80px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     border-radius: 5px;
    margin: 5px;
 }
.install .install_head>li>.input{
    height: 22px;
    width: 150px;
    padding-left: 5px;
}
.install .install_head>li>.search_btn{
    color: #fff;
    background-color: #D28701;
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}
.install .content .get_detail{
    font-size: 12px;
    color:#0B7C7C;
}
/******积分商城页面******/
.integral_store .content>tbody>tr>td>.slt{
    color: #0B7C7C;
    display: block;
    position: relative;
    width: 50px;
}
.integral_store .content>tbody>tr>td>.goods_name{
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 8px;
}
.integral_store .content>tbody>tr>td>.slt>.img_slt{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    position: absolute;
    left: 100%;
    top: 0;
    border: none;
}
.integral_store .content>tbody>tr>td .list{
    float: left;
    text-align: left;
    padding-left: 20px
}
.integral_store .content>tbody>tr>td .list .overflow{
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.integral_store .content>tbody>tr>td .ckqb{
    float: right;
    margin: 20px 20px 0 0;
    color: #0C7C7C;
    position: relative;
    cursor: pointer;
}
.integral_store .content>tbody>tr>td .ckqb:after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 8px;
    left: 105%;
    border: 5px solid transparent;
    border-top-color: #0C7C7C;
}
.integral_store .content>tbody>tr>td .show:after{
    border-color: transparent;
    border-bottom-color: #0C7C7C;
    top: 4px;
}
.integral_store .content>tbody>tr>td .ckqb>.ul_show{
    display: none;
}
.integral_store .content>tbody>tr>td .show>.ul_show{
    display: block;
    position: absolute;
    left: -225px;
    top: 150%;
    border: 1px solid #DCDCDC;
    width: 255px;
    background-color: #fff;
    padding: 10px 10px 10px 18px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 3px;
    z-index: 1000;
    background-color: #fff;
}
.integral_store .content>tbody>tr>td .show>.ul_show>li{
    color: #999;
    z-index: 1000;
    text-align: left;
}
/******订单详情页面******/
.order_detail{
    height:751px;
    background-color: #fff;
    padding:20px 20px 0;
    position: relative;
}
.order_detail .orderNum,.order_detail .orderAdd{
    font-size: 14px;
    color:#333;
    font-weight: bold;
    width: 860px;
}
.order_detail .orderAdd{
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}
.order_detail .orderTxt{
    font-size: 12px;
    color:#333;
    width: 860px;
}
.order_detail .orderTxt li{
    padding-top: 10px;
}
.order_detail .orderTxt span{
    display: inline-block;
}
.order_detail .orderTxt .first{
    width:65px;
    text-align: right;
    margin-right: 10px;
}
.order_detail .orderTxt .txt_bottom>div{
    float: left;
    height:100%;
}
.order_detail .orderTxt .order_table{
    margin-top: 10px;
}
.order_detail .orderTxt .order_table li{
    padding-top: 0;
    border:1px solid #ddd;
    height:100px;
    overflow: hidden;
}
.order_detail .orderTxt .order_table li:first-child{
    border-bottom: none;
    height:38px;
    line-height: 38px;
    background-color: #f3f3f3;
}
.order_detail .orderTxt .order_table .txt_top span{
    text-align: center;
}
.order_detail .orderTxt .order_table .txt_top span:first-child b{
    margin-right: 20px;
}
.order_detail .orderTxt .txt_bottom .img_parent{
    display: inline-block;
    width: 60px;
    height:60px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #ddd;
    text-align: center;
    padding-top: 8px;
    vertical-align: text-top;
}
.order_detail .orderTxt .txt_bottom .txtName{
    position: relative;
    top:20px;
    padding-left: 10px;
}
.order_detail .orderTxt .txt_bottom .txtQuality{
    position: relative;
    top:20px;
    padding-left: 100px;
}
.order_detail .orderTxt .txt_bottom .service{
    padding-bottom: 8px;
}
.order_detail .orderTxt .txt_bottom .toDetail{
    position: relative;
    padding-left: 10px;
}
.order_detail .orderTxt .txt_bottom .toDetail b{
    display: inline-block;
    width: 15px;
    height:15px;
    background: url("../image/icon.png") no-repeat -197px -4px;
    position: absolute;
    top:1px;
    left:8px;
}
.order_detail .orderTxt .txt_bottom .toDetail i{
    display: inline-block;
    width: 6px;
    height:6px;
    background-color: #ff1900;
    border-radius: 50%;
}
.order_detail .orderTxt .txt_bottom .cell{
    display: table;
}
.order_detail .orderTxt .txt_bottom .cell>span{
    display: table-cell;
    vertical-align: middle;
}
.order_price{
    margin-right: 70px;
}
.order_price b:first-child{
    font-size: 12px;
    color:#333;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-top: 10px;
}
.order_price span{
    color:#f00;
    font-size: 12px;
}
.order_price dd:first-child,.order_price dd:first-child b{
    font-weight: bold;
}
.order_detail .forOrder{
    margin:0 auto;
    margin-top: 15px;
    width: 310px;
    border:1px solid #ddd;
    padding:0 10px;
    box-shadow: 0 2px 5px #ddd;
    display: none;
}
.order_detail .forOrder>ul{
    padding-left: 8px;
}
.order_detail .forOrder li{
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color:#333;
    border-left: 1px solid #ddd;
    position: relative;
    padding-left: 13px;
}
.order_detail .forOrder li b{
    position: absolute;
    width:6px;
    height:6px;
    border-radius: 50%;
    background-color: #ddd;
    left:-3px;
    top:12px;
}
.order_detail .forOrder .head{
    height:30px;
    line-height: 30px;
    font-size: 12px;
    color:#333;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
.order_detail .forOrder .now{
    color:#f00;
    font-weight: bold;
}
.order_detail .forOrder .now b{
    background-color:#f00;
}
/**添加订单**/
.order_add .add_manager li span{
    width:100px;
}
.order_add .add_manager li .xiala{
    left:295px;
}
.order_add .add_manager .jiaoseInput,.order_add .add_manager li .jiaose{
    left:108px;
}
/**订单统计**/
.orderCount .order_search .leixing{
    width:57px;
    height:28px;
    border:1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    font-size: 12px;
    color:#333;
}
.orderCount .order_search .orderInput{
    width:132px;
    height:26px;
    border:1px solid #ddd;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    font-size: 12px;
    color:#333;
}
.install.orderCount .order_search input[type=submit]{
    width: 60px;
}
.install.orderCount .order_search{
    border-bottom: none;
}
.orderCount .orderPhotos li{
    float:left;
    width:398px;
    height:245px;
    border:1px solid #ddd;
    margin-bottom: 30px;
}
.orderCount .orderPhotos li.mrg{
    margin-right: 60px;
}
.orderCount .orderPhotos .head{
    height:28px;
    line-height: 28px;
    background-color: #efefef;
    padding:0 10px;
}
.orderCount .orderPhotos .head .orderYear{
    float:right;
}
.orderCount .orderPhotos .lineChart{
    padding-top:10px;
}
.orderCount .orderPhotos .chartHead{
    font-size: 12px;
    color:#32997B;
    padding-bottom: 4px;
}
.orderCount .orderPhotos .pieChart .lt:first-child{
   padding-top: 10px;
    width: 210px;

}
.orderCount .orderPhotos .pieChart dl span{
    display: inline-block;
    font-size: 12px;
    color:#333;
}
.orderCount .orderPhotos .pieChart dl span:first-child{
    min-width: 50px;
    text-align: left;
}
.orderCount .orderPhotos .pieChart dl span.two{
    width: 60px;
    text-align: center;
}
.orderCount .orderPhotos .pieChart dl span.three{
    width: 50px;
    text-align: center;
}
.orderCount .orderPhotos .pieChart dl dt{
     padding:15px 0;
 }
.orderCount .orderPhotos .pieChart dl dd{
     padding-bottom: 5px;
 }
.orderCount .orderPhotos .pieChart dl b{
    display: inline-block;
    width:6px;
    height:6px;
}
.orderCount .orderPhotos .pieChart dl b.bj{
    background-color: #00BAEC;
}
.orderCount .orderPhotos .pieChart dl b.tj{
    background-color: #00C453;
}
.orderCount .orderPhotos .pieChart dl b.sh{
    background-color: #E86132;
}
.orderCount .orderPhotos .pieChart dl b.sjz{
    background-color: #DD5375;
}
.orderCount .orderPhotos .pieChart dl b.hhht{
    background-color: #EFB45A;
}
.doughnutChart {
    font-size: 12px;
    color:#333;
}
.doughnutChart b{
    display: inline-block;
    width:12px;
    height:12px;
}
.doughnutChart .one{
    background-color: #AEE9D7;
}
.doughnutChart .two{
    background-color: #62DCB8;
}
.doughnutChart .three{
    background-color: #21C393;
}
.doughnutChart dd{
    float:left;
    padding-top: 10px;
    padding-left: 50px;
    width: 30% ;
}
.doughnutChart .txt{
    clear: both;
    padding-left: 55px;
}
.barChart .four{
    background-color: #32997B;
}
.barChart .txt{
    padding-left: 0;
    padding-top: 20px;
    overflow: hidden;
}
/*************会员管理页面*********************/
/**会员审核**/
.vipCheck .checkState{
    width:100px;
    height:30px;
    padding-left: 10px;
    font-size: 12px;
    color:#333;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
}
.vipCheck .content .notCheck{
    color:#999;
}
.vipCheck .content .ignored{
    color:#FF8A00;
}
.vipCheck .content .refused{
    color:#FF0000;
}
.vipCheck .content .pass{
    color:#0C7C7C;
}
.vipCheck .content td:last-child .ignored:hover,.vipCheck .content td:last-child .refused:hover,.vipCheck .content td:last-child .pass:hover{
    text-decoration: underline;
}
/*************文章管理页面*********************/
/**文章列表**/
.article_manager .del_all{
    display: inline-block;
}
.article_manager .text{
    font-size: 12px;
    color:#333;
    margin:0 5px;
}
.article_manager .goal{
    width:125px;
    height:28px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
}
.article_manager .search{
    width:148px;
    height:26px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 12px;
}
.article_manager .submit{
    width:80px;
    height:28px;
    font-size: 12px;
    color:#fff;
    text-align: center;
    background-color: #D38800;
    border-radius: 5px;
}
.article_manager .submit:hover{
    background-color: #C17D03;
}
.article_manager .ok{
    display: inline-block;
    width:20px;
    height: 14px;
    background: url("../image/icon.png") no-repeat -117px -2px;
}
.article_manager .notOk{
    display: inline-block;
    width:20px;
    height: 16px;
    background: url("../image/icon.png") no-repeat -141px -1px;
}
.article_manager .merge{
    color:#0C7C7C;
}
/**添加栏目**/
.article_manager .listDetail{
    width: 370px;
    height:130px;
    border:1px solid #ddd;
    font-size: 12px;
    color:#333;
    padding:5px;
    border-radius: 5px;
    vertical-align: top;
    resize: none;
}
/**添加文章**/
.article_manager .relatedBtn{
    display: inline-block;
    width:88px;
    height:26px;
    line-height: 26px;
    text-align: center;
    border:1px solid #ddd;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-size: 12px;
    color:#999;
    cursor: pointer;
}
.article_manager .relatedBtn:hover{
    background-color: #ddd;
}
.article_manager .add_manager .half .xiala{
    left: 155px;
}
.article_manager .add_manager .half .import{
    width: 98px;
}
.article_manager .add_manager .half .jiaoseInput{
    width: 110px;
}
.article_manager .add_manager .half .jiaose{
    width:104px;
}
.article_manager .upload{
    position: absolute;
    top:45px;
    right:60px;
}
.article_manager .upload>div{
    width: 216px;
    height:216px;
    border:2px solid #0C7C7C;
    margin-bottom: 35px;
}
.article_manager .upload .upload_head{
    height:35px;
    line-height: 35px;
    padding-left: 10px;
    font-size: 12px;
    color:#fff;
    background-color: #0C7C7C;
}
.article_manager .upload .upload_photo{
    width:110px;
    height:110px;
    border:1px solid #ddd;
    margin:15px auto;
    overflow: hidden;
    text-align: center;
}
.article_manager .upload .upload_to,.article_manager .upload .upload_cancel{
    display: inline-block;
    width: 90px;
    height:25px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color:#fff;
    margin-left: 10px;
}
.article_manager .upload .upload_to{
    background-color: #7EBD2C;
}
.article_manager .upload .upload_cancel{
    background-color: #aaa;
}
.article_manager .upload .upload_to:hover{
    background-color: #73AF24;
}
.article_manager .upload .upload_cancel:hover{
    background-color: #a0a0a0;
}
/*************09视频管理页面**************/
/**视频列表页面**/
.videoList .content .tbody tr{
    height:90px;
}
.videoList .content .tbody .publish{
    color:#656565;
}
.videoList .content .tbody .move{
    color:#0C7C7C;
}
.videoList .content .tbody .published{
    color:#7EBD2C;
}
.videoList .content .tbody .alter{
    margin:0;
}
.videoList .content .tbody .notPublished{
    color:#999;
}
/**********10评论管理页面**********/
.article_manager .contentLimit{
    position: absolute;
    font-size: 12px;
    color:#999;
    left:400px;
    bottom:15px;
}
/***************11友情链接页面**************************/
.order_add .uploadFile{
    width:68px;
    height:28px;
    line-height: 28px;
    display: inline-block;
    border:1px solid #ddd;
    background-color: #eee;
    cursor: pointer;
    font-size: 12px;
    color:#666;
    text-align: center;
}
.order_add .fileName{
    font-size: 12px;
    color:#666;
}
.link .add_manager .half .xiala{
    left: 190px;
}
/***************12操作日志页面**********************/
.log{
    padding-bottom: 0;
    height:auto;
}
.install.log .order_search{
    width: auto;
    border-bottom: none;
    margin-bottom: 0;
}
.install.log .order_search .time{
    width:110px;
}
.install.log .order_search input[type=submit]{
    margin-left: 0;
}
.install.log .order_search .select{
    width: 110px;
}
.log .logCut{
    width: 100%;
    height:4px;
    background-color: #eee;
}
.log_content{
    height:695px;
    margin-top: 4px;
    border:1px solid #ddd;
    background-color: #fff;
    padding:0 10px;
}
.log_content .logHead{
    height:40px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color:#666;
    padding-left: 20px;
}
.log_content .logModule{
    width:14%;
    padding-left: 20px;
    font-weight: bold;
}
.log_content .logTime{
    width:19%;
    padding-left: 20px;
    font-weight: bold;
}
.log_content .logDetail{
    width:65%;
    padding-left: 20px;
    font-weight: bold;
}
.log_content .logMark{
    color:#0186CC;
}
.log_content table{
    border-collapse: collapse;
}
.log_content tr{
    border-bottom: 1px solid #ddd;
}
.log_content tr:hover{
    background-color: #e7e7e7;
}
.log_content tbody td{
    padding:6px 0 6px 20px ;
    font-size: 12px;
    color:#999;
    border-bottom: 1px solid #ddd;
}
.log_content .txt{
    line-height: 18px;
}
/*********13合作渠道管理页面***************/
.joint_manager .add{
    width:100px;
}
.install .content .mp{
    text-align: left;
    line-height: 18px;
    padding-left: 5px;
}
.install .content .lmp{
    line-height: 22px;
}
.install .content .mp.mm{
    padding-top: 10px;
}
.install .content .mp.mt{
    padding-top: 5px;
}
.install .content .mp.mb{
    padding-bottom:5px;
}
.joint_manager.vipCheck .content .refused{
    color:#999;
}
.joint_manager.vipCheck .content .tbody td{
    height:110px;
}
.joint_manager.install .add_manager li .import{
    width:248px;
}
.joint_manager.install .add_manager li .xiala{
    left:345px;
}
.joint_manager.order_add .add_manager .jiaoseInput, .joint_manager.order_add .add_manager li .jiaose{
    width: 254px;
}
.joint_manager.article_manager .listDetail{
    width: 248px;
    height:80px;
}
/****客户管理******/
.client  .content .tbody td{
    height:90px;
}
/*******0000添加效果*********/
.install .tbody tr:hover{
    background-color: #e7e7e7;
}
.install .tbody tr.addBg{
    background-color: #F1F8E7;
}
/**********06财务统计管理***************/
.money .install_head .lt{
    width: 80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #999;
    margin-right: 20px;
}
.money .install_head .item{
    float: left;
    width: 100%;
    height:100%;
    font-size: 12px;
    color:#999;
}
.money .install_head .click{
    border-bottom: 1px solid #7EBD2C;
}
.money .install_head .click .item{
    color: #7EBD2C;
    font-weight: bold;
}
.money .content .tbody td{
    height:100px;
}
.money .content .deduct{
    color:#FF0000;
}
.money .content .deduct:hover,.money .content .deduct_fit:hover{
    text-decoration: underline;
}
.money .content .deduct_fit{
    color:#0C7C7C;
}
.money .content .txtLeft{
    text-align: left;
    padding-left: 5px;
}
/**提成设置页面**/
.money .back{
    float:right;
    width: 80px;
    height:30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #D38800;
    font-size: 12px;
    color:#fff;
    text-align: center;

}
.money .back:hover{
    background-color: #C17D03;
}
.money .performance_fit .performance_top{
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    width: 683px;
    overflow: hidden;
}
.money .performance_fit .fit-left{
    float:left;
    width: 60px;
    height:32px;
    line-height: 32px;
    font-size: 12px;
    color:#333;
}
.money .performance_fit .fit-right{
    float:left;
    vertical-align: top;
    width: 622px;
}
.money .performance_fit .fit-right .radio{
    width:14px;
    height:14px;
}
.money .performance_fit .fit-right>li{
    padding-bottom: 10px;
    font-size: 12px;
    color:#333;
    height:32px;
    line-height: 32px;
}
.money .performance_fit .fit-right .two_select{
    display: inline-block;
    margin-left: 10px;
}
.money .performance_fit .fit-right .two_select .dd{
    display: none;
}
.money .performance_fit .fit-right .active .dd:first-child{
    display: block;
}
.money .performance_fit .fit-right .active .scale{
    height:30px;
    width:178px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
}
.money .performance_fit .fit-right .noActive .dd:last-child{
    display: block;
    height:30px;
    line-height: 30px;
    width:178px;
    border:1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #eee;
    color:#999;
}
.money .performance_fit .fit-right .single-pro{
    width:110px;
    height:32px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    color:#333;
    position: relative;
    top:-1px;
}
.money .performance_fit .fit-right .single-pro.disable{
    background-color: #eee;
    color:#999;
}
.money .performance_fit .fit-right .single{
    margin-left: 4px;
}
.money .performance_fit .fit-right .single .scale{
    width: 58px;
}
.money .performance_fit .fit-right .single .dd:last-child{
    width: 58px;
}
.money .performance_fit .performance_bottom{
    padding-top: 20px;
    width: 700px;
}
.money .performance_fit .fit-right .product_name{
    width:128px;
    height:30px;
    line-height: 30px;
    border:1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
    color:#333;
}
.money .performance_fit .fit-right .product_name.now{
    background-color: #eee;
}
.money .performance_fit .fit-right .product_name .checkbox{
    width:14px;
    height:14px;
    background-color: #fff;
    margin-left: 5px;
    vertical-align: sub;
}
.money .performance_fit .fit-right .product_scale{
    width:59px;
    height:30px;
    line-height: 30px;
    border:1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    font-size: 12px;
    color:#ddd;
    padding-left: 10px;
}
.money .performance_fit .fit-right .product_scale .text{
    display: none;
}
.money .performance_fit .fit-right .product_scale.active .text:first-child{
    display: block;
    color:#333;
    height:100%;
    width: 50px;
}
.money .performance_fit .fit-right .product_scale.noActive .text:last-child{
    display: block;
}
.money .performance_fit .performance_bottom .fit-right>ul{
    margin-bottom: 10px;
    overflow: hidden;
}
.money .performance_fit .performance_bottom .fit-right>ul>li{
    float:left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.money .performance_fit .performance_bottom .fit-right>ul>li:nth-child(3n){
    margin-right: 0;
}
.money .add_manager{
    clear: both;
    padding-left: 60px;
}
/**财务决算*/
.financial .order_search .name.select{
    width:60px;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    margin-left: 77px;
}
.financial .order_search .input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width:115px;
}
.financial .order_search input[type=submit]{
    margin-left: 0;
}
.financial .order_search{
    width: auto;
    border-bottom: none;
    margin-bottom: 0;
}
.financial .content .tbody td{
    height:40px;
}
.financial .financial_pay{
    height:170px;
    background: url("../image/money-bg.jpg") no-repeat 0 0;
    margin-bottom: 30px;
}
.financial .financial_pay .total li{
    font-size: 16px;
    color:#666;
    width: 212px;
    text-align: center;
    padding-top: 122px;
}
.financial .financial_pay .total li .span{
    margin-right: 5px;
}
.financial .financial_pay .total li:first-child{
    font-size: 28px;
    color:#fff;
    font-weight: bold;
    width:233px;
    padding-left: 50px;
    text-align: left;
    padding-top: 90px;
}
.financial .financial_divide{
    width: 960px;
    position: relative;
    left:-20px;
    height:20px;
    background-color: #eee;
}
.financial .install_head{
    margin-top: 20px;
}












